@import "../variables";

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6 * $mu;
  font-weight: 500;
}

.legend {
  list-style-type: none;
  color: #74798c;
  display: flex;
  justify-content: end;
  white-space: nowrap;
  gap: 4 * $mu;
  li {
    font-size: 14px;
    display: flex;
    gap: $mu;
  }
}

.title {
  font-size: 15px;
}
