@import "../mixins";
@import "../variables";

.DataCard {
  padding: 4 * $mu;
  display: flex;
  gap: 3 * $mu;
  background-color: #fbfbfb;
  border-radius: 5px;
  width: 192px;

  @include tablet {
    width: 160px;
    padding: 4 * $mu 2 * $mu 4 * $mu 4 * $mu;
    gap: 1.5 * $mu;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $mu;
  }
  .figure {
    font-size: 20px;
    font-weight: 700;
  }
  .nutrient {
    color: #74798c;
    font-weight: 500;
    font-size: 14px;
  }
}
