@import "../mixins";

.legend {
  margin-left: 32px;
  margin-top: 28px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.6);
  width: 147px;
  line-height: 24px;
  @include tablet {
    margin-left: 8px;
    font-size: 12px;
  }
}
