@import "../mixins";

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-self: flex-start;
  font-weight: 500;
  font-size: 15px;
  line-height: 0px;
  position: relative;
  bottom: 16px;
}

.container {
  width: 159px;
}

.score {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  background-color: #fff;
  height: 159px;
  border-radius: 159px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #74798c;
  text-align: center;
  gap: 8px;
  line-height: 26px;

  .percentage {
    font-size: 26px;
    font-weight: 700;
    color: #282d30;
  }

  p {
    max-width: 95px;
  }
}
