@import "variables";
@import "mixins";

.AppLayout {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    width: 100vw;
    height: 91px;
    background-color: $color-layout-background;
    color: #fff;
    display: flex;
    gap: 19 * $mu;
    align-items: center;
    img {
      padding-left: 4 * $mu;
    }

    nav {
      flex: 1;
      margin-right: 11 * $mu;
    }
    ul {
      display: flex;
      justify-content: space-between;
    }
    li {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .horizontalView {
    display: flex;
    flex: 1;
    gap: 13 * $mu;
    @include tablet {
      gap: 2 * $mu;
    }
    > aside {
      background-color: $color-layout-background;
      color: white;

      width: 117px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20 * $mu;

      padding-top: 347px - $header-height;

      @include tablet {
        width: 88px;
        gap: 16 * $mu;
        padding-top: 219px - $header-height;
      }
      > p {
        transform: rotate(270deg);
        white-space: nowrap;
        font-size: 12px;
      }

      > nav ul {
        display: flex;
        flex-direction: column;
        gap: 2.5 * $mu;
      }
    }
  }

  .view {
    flex: 1;
    padding-top: 7 * $mu;
    @include tablet {
      padding-top: 4 * $mu;
    }
  }
}
