@import "variables";
@import "mixins";

.Dashboard {
  padding-right: $mu;
  display: flex;
  flex-direction: column;
  gap: 8 * $mu;
  @include tablet {
    gap: 5 * $mu;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
    span {
      color: $color-primary-100;
      font-size: 3rem;
    }
  }

  .userInfo {
    display: flex;
    gap: 4 * $mu;
    @include tablet {
      gap: $mu;
    }
  }

  .graphSection {
    display: flex;
    flex-direction: column;
    gap: 3.5 * $mu;
    width: 60%;
    max-width: 835px;
    flex: 1;
    @include tablet {
      gap: 1.5 * $mu;
    }
  }

  .mediumGraph {
    flex: 1;
    width: 100%;
  }

  .mainInfo {
    height: 320px;
    @include tablet {
      flex: 1;
      height: unset;
    }
  }

  .secondaryInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 263px;
    max-height: 263px;
    gap: 4 * $mu;
    @include tablet {
      flex: 0.82;
      gap: 2 * $mu;
    }
  }

  .nutritionData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      gap: $mu;
    }
  }

  .greeting {
    display: flex;
    flex-direction: column;
    gap: 4 * $mu;
    @include tablet {
      gap: $mu;
    }
    img {
      height: 1rem;
    }
  }
}
